body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Georgia, serif';
    font-style: normal;
    background-color: rgb(24, 24, 24);
}
.main-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    padding: 0 80px;
}
.main-inner {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    gap: 24px;
    padding-top: 64px;
    min-width: 400px;
    max-width: 1280px;
}

.tabcontent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 24px;
}


.section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0px;
    padding: 0px;
    flex-wrap: nowrap;

    color: rgb(111, 19, 11);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.section-name {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-wrap: nowrap;
}

.h-divider {
    width: 100%;
    height: 1px;
    background-color: rgb(111, 19, 11);
    border-radius: 2px;
}

.field-name {
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    
    & > .field-name-main {
        color: rgb(111, 19, 11);
    }
    & > .field-name-hint {
        color: rgba(183, 189, 190, 1);
    }
  }

.product-checkbox {
    margin: 10px;
}

#Shop {
    display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

#filtersContainer {
    display: none /*flex*/;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}

#products-outer {
    width: 100%;
    height: auto;
}


.products-page-button {
    
    width: max-content;
    padding: 8px;
    background-color: transparent;
    border: 2px solid rgb(111, 19, 11);
    color: rgb(111, 19, 11);
    font-weight: bold;
    border-radius: 4px;
}

.products-page-button:hover {
    width: max-content;
    padding: 8px;
    background-color: rgb(111, 19, 11);
    border: 2px solid rgb(111, 19, 11);
    color: rgb(24, 24, 24);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.signature {
    color: rgba(148, 153, 154, 1);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.product-image {
    width: 200px;
    margin: 10px;
}

.product-label {
    text-align: center;
    margin: 10px;
}

.product-image-main {
    width: 60%;
    max-width: 400px;
}

#current-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
}

.product-div {
    margin: 20px 5px;
    width: max-content;
}

.product-div:hover {
    cursor: pointer;
    background-color: rgb(111, 19, 11);
    border-radius: 10px;
    color: white;
}

.products-div {
    display: flex;
    flex-wrap: wrap;
}

/*Slider adapted from https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.sliderContainer {
    width: 200px;
}

.slider {
    appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7; 
    transition: opacity .2s;
    -webkit-appearance: none;  
    -webkit-transition: .2s;
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: rgb(111, 19, 11); 
    cursor: pointer; 
}

    .text-right {
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Hoverable rows */
tbody tr:hover {
    background-color: #f5f5f5;
}

/* Line between rows */
tbody tr {
    border-bottom: 1px solid #ddd;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .togglesSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .togglesSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .togglesSlider {
    background-color:  rgb(111, 19, 11);
  }
  
  input:focus + .togglesSlider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .togglesSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .togglesSlider.round {
    border-radius: 34px;
  }
  
  .togglesSlider.round:before {
    border-radius: 50%;
  }