.heading-text {
    color: rgb(9, 11, 55);
}

/* Menus font style in navbar */
.navbar-font {
    color: rgb(9, 11, 55);
    font-size: 18px;
    font-weight: 700;
}

/* Logo font style in navbar */
.navbar .navbar-brand {
    color: rgb(9, 11, 55);
    font-size: x-large;
    font-weight: 500;
}

.signature {
    color: rgba(148, 153, 154, 1);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.container-header {
    padding: 1%;
    font-size: 18px;
    font-weight: 400;
}

/* Add some padding to the sections to account for the fixed-top navbar */
.section {
    /* Adjust this value based on the height of your navbar */
    padding-top: 76px;
}

.learn-more-button {
    color: gray;
}

.learn-more-button:hover {
    text-decoration: underline;
}

.book-appt-col {
    margin: 20px;
    padding: 10px;
    height: 93%;
}

.side-padding-10 {
    padding: 0px 10px;
}

.hide {
    display: none !important;
}